style.css
/* Recipes */
/* main */
div {
  overflow: hidden;
}
h1 {
  font-size: 45px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* head */
.header {
  background-color: #FF9999;
  color: white;
  padding: 5px 0 10px 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: cursive;
}


/* body */
.main-content {
  width: 80%;
  padding: 40px;
  border: 1px solid #dddddd;
  margin: 30px auto 0 auto;
  text-align: center;
  background-color: #FFE5CC;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  overflow: hidden;
  font-family: cursive;
}
.main-content1 {
  width: 50%;
  padding: 40px;
  border: 1px solid #dddddd;
  margin: 30px auto 0 auto;
  text-align: center;
  background-color: #FFE5CC;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  overflow: hidden;
  font-family: cursive;
}

/* nav */
.nav{
  padding-left: 0;
}
.nav li{
  display: inline;
  padding: 10px;
}
.nav a{
  color: white;
  text-decoration: none;
}


/* recipes */
.recipe {
  width: 40%;
  height: auto;
  margin: auto 10px auto 5px;
  border: 1px solid #dddddd;
  padding: 40px;
  text-align: left;
  background-color: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.name-recipe{
  text-align: center;
  font-size: 25px;
}


/* Show more/less */
.read-more-state {
  display: none;
}
.read-more {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  text-align: center;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  margin:0 40% 0 40%;
}
.read-more-state ~ .read-more:before {
  content: 'Show more';

}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state:checked ~ .read-more:before {
  content: 'Show less';
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}


/* Suggest */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-10 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-90 {
  float: left;
  width: 90%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
